@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins ,sans-serif;
}
section {
 background-color: #F4F3EF;
}
section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #364C63;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;

}
section nav .logo img {
    width: 80px;
    cursor: pointer;
    margin:8px 0;
}
section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    color:#000;
    text-decoration: none;
    list-style: none;


}
section nav li a:hover{
    color: #586f88;
  
}
   
.social-icon i{
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;

}
.social-icon i:hover{
    color: #364C63;
    transform: scale(1.3);

}
/* main-section */
section .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10%;
}
section .main h1{
    position: relative;
font-size: 55px;
top: 40px;
left: 25px;
}
section .main h1 span{
    color:#364C63
}
section .main p{
    width: 640px;
    text-align: justify;
    line-height: 25px;
    position: relative;
    top: 50px;
    left: 25px;
}
section .main .main-tag .main-btn{
    background: #364C63;
    padding: 10px 20px;
    position: relative;
    top: 100px;
    left: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;}

section .main .img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}
.services{
    width: 100%;
    height: auto;
    margin: 35px 0;
}
.services .service-box{
    width: 95%;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-around ;

}
.services .service-box .service-card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px#364C63 ;
    padding:15px 10px ;

}
.services .service-box .service-card i{
    color:#364C63;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}
.services .service-box .service-card h3{
    margin-bottom:10px ;}
/* about */
.about{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .about-img img{
    width: 800px;
} 
.about .about-tag p{
    line-height: 22px;
    width: 450px;
    text-align: justify;
    margin-bottom: 15px;

}
.about .about-tag .about-btn{
    padding:10px 20px;
    background-color:#364C63;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 50px;
}
/* featured-books */
.featured-books{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.featured-books h1{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-bottom: 30px;
    font-size: 45px;
    
}

.featured-books  .featured-books-box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr 1fr 1fr ;
    overflow: hidden;
    overflow-x:scroll;
}
.featured-books  .featured-books-box .featured-books-card{
    width: 400px;
    height: 700px;
    text-align: center;
    padding: 10px;
    border: 1px solid #919191;
    margin: auto 20px;
}
.featured-books  .featured-books-box .featured-books-card:hover{
    box-shadow: 0 0 5px #364C63;

    }
    .featured-books  .featured-books-box .featured-books-card .featured-book-tag h2{
        margin: 12px;
    }
    .featured-books  .featured-books-box .featured-books-card .featured-book-tag.writer{
        color: #919191;
    }
    .featured-books  .featured-books-box .featured-books-card .featured-book-tag.catagories{
        color: #364C63;
        margin-top: 8px;
    }
    
 .featured-book-img{
    width: 150px;
    height: 40px;
}
.featured-books  .featured-books-box .featured-books-card .featured-book-tag.book-price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;

}

.featured-books  .featured-books-box .featured-books-card .featured-book-tag del{
    font-weight: 100;
    padding:  0 15px;
}
.featured-books  .featured-books-box .featured-books-card .featured-book-tag .f-btn{

    padding:  8px 20px;
    border: 2px solid #364C63;
    text-decoration: none;
    color: #000;
    
}
::-webkit-scrollbar{
    width: 10px;
    height: 15px;

}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0, 0, 0.2);
}
/* footer */
footer{
  width: 100%;
  background: #eaeaea;  
}
footer .footer-main{
    width: 100%;
    justify-content:space-around;
    display: flex;
}
footer .footer-main .tag{
    margin: 10px 0;
}
footer .footer-main .tag img{

    margin-bottom: 10px;

}
  
footer .footer-main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;

}
  
footer .footer-main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}
footer .footer-main .tag a{
    display: block;
    color: #000;
    text-decoration: none;
    margin:10px 0 ;
}
footer .footer-main .tag  i{
    margin-right: 10px;
}
footer .footer-main .tag .search-bar{
    width: 230px;
    height: 30px;
    background: rgba(202, 202, 202);
    border-radius: 25px;
}
footer .footer-main .tag .search-bar input{
 width: 200px;
 padding: 2px 0;
 position: relative;
 top: 17%;
 left: 6%;
 border: none;
 outline: none;
 font-size: 13px;
 background: none;
}

footer .footer-main .tag .search-bar button{
    padding: 7px 15px;
    background: #364C63;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}
/* The End */