@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins ,sans-serif;
}
section {
 background-color: #F4F3EF;
}
section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #364C63;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;

}
section nav .logo img {
    width: 80px;
    cursor: pointer;
    margin:8px 0;
}
section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    color:#000;
    text-decoration: none;
    list-style: none;


}
section nav li a:hover{
    color: #586f88;
  
}
   
.social-icon i{
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;

}
.social-icon i:hover{
    color: #364C63;
    transform: scale(1.3);

}
/* main-section */
section .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10%;
}
section .main h1{
    position: relative;
font-size: 55px;
top: 40px;
left: 25px;
}
section .main h1 span{
    color:#364C63
}
section .main p{
    width: 640px;
    text-align: justify;
    line-height: 25px;
    position: relative;
    top: 50px;
    left: 25px;
}
section .main .main-tag .main-btn{
    background: #364C63;
    padding: 10px 20px;
    position: relative;
    top: 100px;
    left: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;}

section .main .img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}
.services{
    width: 100%;
    height: auto;
    margin: 35px 0;
}
.services .service-box{
    width: 95%;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-around ;

}
.services .service-box .service-card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px#364C63 ;
    padding:15px 10px ;

}
.services .service-box .service-card i{
    color:#364C63;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}
.services .service-box .service-card h3{
    margin-bottom:10px ;}
/* about */
.about{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .about-img img{
    width: 800px;
} 
.about .about-tag p{
    line-height: 22px;
    width: 450px;
    text-align: justify;
    margin-bottom: 15px;

}
.about .about-tag .about-btn{
    padding:10px 20px;
    background-color:#364C63;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 50px;
}


